@import "../../styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  border-bottom-width: 3px;
  flex: 1;
  margin: 0 10px 10px 10px;
}

.bottomDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: $m-size;
}

.fit {
  object-fit: cover;
  width: 100%;
  height: 180px;
}

.description {
  font-size: $m-size;
  margin-bottom: $m-size;
}

.title {
  color: $secondary-color;
  font-size: $xxl-size;
  margin-bottom: 10px;
}

.address {
  display: flex;
}

.row {
  display: flex;
  justify-content: space-between;
}

.locationText {
  font-size: $s-size;
  vertical-align: middle;
  &-margin {
    margin-right: 10px;
  }
}
