@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$default-color: #333333;
$primary-color: #E05A4F;
$secondary-color: #00BD9D;

$app-width: 100%;

$xs-size: 8px;
$s-size: 12px;
$m-size: 14px;
$l-size: 16px;
$xl-size: 22px;
$xxl-size: 32px;

$font-base: 'Montserrat', sans-serif;