@import "../../styles/variables.scss";

.item {
  padding-bottom: $m-size;
}

.container {
  border: 1px solid #000000;
  border-bottom-width: 3px;
}

.bottomDescription {
  padding: $m-size;
}

.fit {
  object-fit: cover;
  width: 100%;
  height: 180px;
}

.description {
  font-size: $m-size;
  margin-bottom: $m-size;
}

.title {
  color: $secondary-color;
  font-size: $xxl-size;
  margin-bottom: 10px;
}

.address {
  display: flex;
  svg {
    margin-right: 5px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
}

.locationText {
  font-size: $s-size;
  display: flex;
  align-items: center;
  svg {
    margin-right: 5px;
  }
  &_withMargin {
    margin-left: $l-size;
  }
}

